<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="port" value="11000" />
    <!--<add key="port" value="auto"/>-->

    <add key="logpath" value="c:\temp\log\Mud.Net\" />

    <add key="UseMongo" value="false" />

    <add key="PrefixForwardedMessages" value="false" />
    <add key="ForwardSlaveMessages" value="false" />
    <add key="RemovePeriodicAurasInNotInSameRoom" value="false" />
    <add key="CorpseBlueprintId" value="999999" />
    <add key="PulsePerSeconds" value="4" />
    <add key="CheckLoginPassword" value="false" />
    <add key="IdleMinutesBeforeUnimpersonate" value="10" />
    <add key="MaxLevel" value="60" />
    <add key="MaxAvatarCount" value="10" />

    <add key="ConnectionString" value="mongodb://localhost:27017/?readPreference=primary&amp;appname=MongoDB%20Compass&amp;ssl=false" />

    <add key="PlayerRepositoryPath" value="f:\github\Mud.Net\Datas\Players\" />
    <add key="AdminRepositoryPath" value="f:\github\Mud.Net\Datas\Admins\" />
    <add key="LoginRepositoryFilename" value="f:\github\Mud.Net\Datas\logins.data" />
    <add key="ImportAreaPath" value="f:\github\OldMud\area\" />
    <!--<add key="PlayerRepositoryPath" value="c:\prj\personal\Mud.Net\Datas\Players\" />
    <add key="AdminRepositoryPath" value="c:\prj\personal\Mud.Net\Datas\Admins\" />
    <add key="LoginRepositoryFilename" value="c:\prj\personal\Mud.Net\Datas\logins.data" />
    <add key="ImportAreaPath" value="c:\prj\personal\OldMud\area\" />-->

    <!--mongodb://Dev:Dev!1234@isoapp1092:27017/Tulyp_Trag_Dev?authSource=admin-->
  </appSettings>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SharpCompress" publicKeyToken="afb0a02973931d96" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.25.0.0" newVersion="0.25.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encoding.CodePages" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.3.0" newVersion="4.1.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
