Targeting system
A spell can call another one (Colour Spray + Blindness)
Message displayed when aura wears off from character/item
Message displayed when aura is dispelled
Action to perform when aura wears off from character/item
Action to perform when aura is dispelled
Cooldown
Resource cost
Improve skill
Starts fight if needed

